{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "transform": {
            "decorators": true
        }
    },
    "module": {
        "type": "es6"
    }
}